/* Reset bàsic */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #0D0F12; /* fons negre */
  color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #222; /* caixa de formulari més clara */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8em;
  color: goldenrod;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #111;
  color: goldenrod;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1a1a1a;
  color: goldenrod;
  border: solid;
  border-color: goldenrod;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: goldenrod;
  color: #1a1a1a;
}