* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0D0F12;
    color: #ffffff;
}

/* Header */
.header {
    width: 100%;
    height: 13vh;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden; /* limpia los floats */
}

.logo {
    float: left;
    cursor: pointer;
    height: 60px;
    padding-top: 3px;
    
}

.logo img {
    height: 100px;
    padding-bottom: 40px;
}

.menu-icon {
    float: right;
    font-size: 28px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons {
    float: right;
    font-size: 24px;
    padding-right: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons i {
    margin-left: 25px;
}

.hero2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero2-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.hero2-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-100%);
}

.hero2-content h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero2-content p {
    font-size: 1.5rem;
    font-weight: bold;
}

.intro, .second {
    width: 100%;
    padding: 60px 10%;
    overflow: hidden; /* para limpiar floats */
}

.intro-text{
    width: 50%;
    float: left;
    font-size: 1.1rem;
    line-height: 1.8;
}



.second-text{
    width: 50%;
    float: right;
    font-size: 1.1rem;
    line-height: 1.8;
}

.intro-img img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    float: right;
    transition: transform 0.6s;
}

.intro-img img:hover {
   transform: scale(1.1);
}

.second-img img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    float: left;
    transition: transform 0.6s;
}

.second-img img:hover {
   transform: scale(1.1);
}

.about {
    text-align: center;
    padding: 60px 10%;
    background-color: #0D0F12;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.about-content {
    width: 100%;
    margin: 0 auto;
}

.about-content img {
    width: 60%;              
    max-width: 500px;
    display: block;
    margin: 0 auto;           
    border-radius: 10px;
}

.about-text {
    width: 80%;
    max-width: 600px;
    margin: 20px auto 0 auto;
    font-size: 1.1rem;
    text-align: center;
}

.arrow {
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
}

.btn {
    background-color: #111;
    color: goldenrod;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;
}

.btn:hover {
    background-color: goldenrod;
    color: #1a1a1a;
}

/* Footer */
.footer {
    background-color: black;
    padding: 40px 10%;
    font-size: 1.1rem;
    overflow: hidden; /* limpiar floats */
    color: rgb(255, 255, 255);
}

.footer-left {
    float: left;
    width: 40%;
}

.social {
    margin-top: 10px;
    cursor: pointer;
}

.social i {
    margin-right: 10px;
}

.footer-right {
    float: right;
    width: 55%;
}

.footer-right ul {
    list-style: none;
    margin-top: 10px;
}

.footer-right li {
    margin-bottom: 5px;
}

@keyframes aparicion {
    0% {
        opacity: 0;
        transform: translateY(-60%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.hero2-content {
    animation: aparicion 1.5s ease-out forwards;
}

/* Sección Categorías */
.categorias {
    padding: 80px 10%;
    text-align: center;
    background-color: #0D0F12;
}

.categorias-titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: goldenrod;
    font-weight: 600;
}

.categorias-texto {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto 40px auto;
    color: white;
}

/* GRID de las tarjetas */
.categorias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

/* Tarjetas */
.cat-card {
    background: #111;
    padding: 25px;
    border: 1px solid #333;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(218,165,32,0.4);
}

.cat-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.cat-card h3 {
    font-size: 1.4rem;
    color: white;
    margin: 10px 0 15px 0;
}

/* Botón */
.cat-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.cat-btn:hover {
    background-color: goldenrod;
    color: #1a1a1a;
}
